*~

Package.resolved

# Dot files/directories (opt-in only)
/.*
!/.gitignore

# Top-level entries (opt-in only)
# First ignore all, then whitelist specific folders and files
/*
!/Sources/
!/Tests/
!/Demo/
!/Package.swift
!/README.md

.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# User settings
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcsettings