*~

Package.resolved

# Dot files/directories (opt-in only)
/.*
!/.gitignore

# Top-level entries (opt-in only)
# First ignore all, then whitelist specific folders and files
/*
!/Sources/
!/Tests/
!/Demo/
!/Package.swift
!/README.md